<module>
    <manifestVersion>1.0.0</manifestVersion>
    <symbolicName>chris-cloud-screening</symbolicName>
    <version>1.0-SNAPSHOT</version>
    <name>CHRIS/PROBA Cloud Screening Tools</name>
    <description>CHRIS/PROBA Cloud Screening Tools</description>

    <vendor>Brockmann Consult GmbH</vendor>
    <contactAddress>
        Max Planck Str.2, 21502 Geesthacht (Germany)
    </contactAddress>
    <copyright>(C) 2007 by Brockmann Consult GmbH</copyright>
    <url>http://envisat.esa.int/beam</url>
    <licenseUrl>http://www.gnu.org/licenses/gpl.html</licenseUrl>

    <changelog>
        <!--
              <![CDATA[
              <p>Initial Release 1.0
              </p>
              ]]>
          -->
    </changelog>

    <dependency>
        <module>ceres-core</module>
    </dependency>
    <dependency>
        <module>beam-core</module>
    </dependency>
    <dependency>
        <module>beam-chris-reader</module>
    </dependency>
    <dependency>
        <module>beam-cluster</module>
    </dependency>
    <dependency>
        <module>beam-gpf</module>
    </dependency>
    <dependency>
        <module>beam-unmix</module>
    </dependency>
    <dependency>
        <module>beam-visat</module>
        <optional>true</optional>
    </dependency>
    <dependency>
        <module>chris-util</module>
    </dependency>

    <categories>Application,Processor,CHRIS</categories>

    <extension point="beam-ui:actions">
        <action>
            <id>chris</id>
            <class>org.esa.beam.visat.actions.ActionGroup</class>
            <text>CHRIS/PROBA Tools</text>
            <mnemonic/>
        </action>
        <action>
            <id>chrisExtractFeatures</id>
            <class>org.esa.beam.chris.ui.ExtractFeaturesAction</class>
            <text>Extract Features</text>
            <shortDescr>
                Extract features from the selected CHRIS/PROBA product
                needed for cloud screening
            </shortDescr>
            <mnemonic/>
            <parent>chris</parent>
            <helpID>chrisCloudScreeningTools</helpID>
            <placeAfter>chrisComputeReflectances</placeAfter>
        </action>
        <action>
            <id>chrisCloudMask</id>
            <parent>chris</parent>
            <class>org.esa.beam.chris.ui.CloudMaskAction</class>
            <text>Compute Cloud Mask</text>
            <mnemonic>M</mnemonic>
            <accelerator>ctrl alt M</accelerator>
            <shortDescr>Computes a cloud mask.</shortDescr>
            <helpId>chrisCloudScreeningTools</helpId>
        </action>
    </extension>

    <extension point="beam-ui:helpSets">
        <helpSet>
            <parent>beam-help</parent>
            <path>doc/help/cloudscreening.hs</path>
        </helpSet>
    </extension>

</module>
