<module>
    <manifestVersion>1.0.0</manifestVersion>
    <symbolicName>chris-noise-reduction</symbolicName>
    <version>1.1-SNAPSHOT</version>
    <name>CHRIS/Proba Noise Reduction Tool</name>
    <description>CHRIS/Proba Noise Reduction Tool</description>

    <vendor>Brockmann Consult GmbH</vendor>
    <contactAddress>Max Planck Str.2, 21502 Geesthacht (Germany)</contactAddress>
    <copyright>(C) 2007 by Brockmann Consult GmbH</copyright>
    <url>http://envisat.esa.int/beam</url>
    <licenseUrl>http://www.gnu.org/licenses/gpl.html</licenseUrl>

    <changelog>
        <![CDATA[
        <p>Initial Release 1.0
        </p>
        ]]>
    </changelog>

    <dependency>
        <module>beam-gpf</module>
    </dependency>
    <dependency>
        <module>beam-chris-reader</module>
    </dependency>
    <dependency>
        <module>beam-visat</module>
        <optional>true</optional>
    </dependency>

    <categories>Application,Processor,CHRIS</categories>

    <extension point="beam-visat:actions">
        <action>
            <id>chrisNoiseReduction</id>
            <class>org.esa.beam.chris.ui.NoiseReductionAction</class>
            <text>Noise Reduction (CHRIS)...</text>
            <shortDescr>Invoke the CHRIS Noise Reduction Tool</shortDescr>
            <mnemonic></mnemonic>
            <parent>tools</parent>
            <helpID>chrisNoiseReductionTool</helpID>
            <placeAfter></placeAfter>
        </action>
    </extension>

    <extension point="beam-ui:helpSets">
        <helpSet>
            <parent>beam-help</parent>
            <path>doc/help/noisereduction.hs</path>
        </helpSet>
    </extension>

</module>
