<module>
    <manifestVersion>1.0.0</manifestVersion>
    <symbolicName>chris-atmospheric-correction-lut</symbolicName>
    <version>1.0.2</version>
    <name>CHRIS/Proba Atmospheric Correction Tool Lookup Table</name>
    <description>CHRIS/Proba Atmospheric Correction Tool Lookup Table</description>

    <vendor>Brockmann Consult GmbH</vendor>
    <contactAddress>Max Planck Str.2, 21502 Geesthacht (Germany)</contactAddress>
    <copyright>(C) 2007 by Brockmann Consult GmbH</copyright>
    <url>http://envisat.esa.int/beam</url>
    <licenseUrl>http://www.gnu.org/licenses/gpl.html</licenseUrl>

    <changelog>
        <![CDATA[
        Changes in Version 1.0.2<br/>
        [CBOX-73] Make modules binary compatibility with BEAM 4.6.1<br/>        
        Changes in Version 1.0.1<br/>
        [CBOX-59] Write 'Proba' instead of 'PROBA'<br/><br/>
        ]]>
    </changelog>

    <dependency>
        <module>beam-core</module>
    </dependency>

</module>
