<module>
    <manifestVersion>1.0.0</manifestVersion>
    <symbolicName>chris-geometric-correction</symbolicName>
    <version>1.0</version>
    <name>CHRIS/Proba Geometric Correction Tool</name>
    <description>CHRIS/Proba Geometric Correction Tool</description>

    <vendor>Brockmann Consult GmbH</vendor>
    <contactAddress>Max Planck Str.2, 21502 Geesthacht (Germany)</contactAddress>
    <copyright>(C) 2007 by Brockmann Consult GmbH</copyright>
    <url>http://envisat.esa.int/beam</url>
    <licenseUrl>http://www.gnu.org/licenses/gpl.html</licenseUrl>

    <changelog/>

    <dependency>
        <module>beam-gpf</module>
    </dependency>
    <dependency>
        <module>beam-visat</module>
        <optional>true</optional>
    </dependency>
    <dependency>
        <module>beam-chris-reader</module>
    </dependency>
    <dependency>
        <module>chris-util</module>
    </dependency>

    <categories>Application,Processor,CHRIS</categories>

    <extension point="beam-visat:actions">
        <action>
            <id>chris</id>
            <class>org.esa.beam.visat.actions.ActionGroup</class>
            <text>CHRIS/Proba Tools</text>
            <mnemonic/>
        </action>
        <action>
            <id>chrisGeometricCorrection</id>
            <class>org.esa.beam.chris.ui.PerformGeometricCorrectionAction</class>
            <text>Geometric Correction...</text>
            <shortDescr>Perfoms the geometric correction for the selected CHRIS/Proba product</shortDescr>
            <mnemonic/>
            <parent>chris</parent>
            <helpID>chrisGeometricCorrectionTool</helpID>
            <placeAfter>chrisAtmosphericCorrection</placeAfter>
        </action>
    </extension>

    <extension point="beam-ui:helpSets">
        <helpSet>
            <parent>beam-help</parent>
            <path>doc/help/geometriccorrection.hs</path>
        </helpSet>
    </extension>

</module>
