<module>
    <manifestVersion>1.0.0</manifestVersion>
    <symbolicName>chris-geometric-correction</symbolicName>
    <version>1.5.4</version>
    <name>CHRIS/Proba Geometric Correction Tool</name>
    
    <description>This module comprises the CHRIS/Proba Geometric Correction Tool.</description>

    <vendor>Brockmann Consult GmbH</vendor>
    <funding>ESA/ESRIN</funding>
    <contactAddress>Max Planck Str.2, 21502 Geesthacht (Germany)</contactAddress>
    <copyright>(C) 2010 by Brockmann Consult GmbH</copyright>
    <url>http://envisat.esa.int/beam</url>
    <licenseUrl>http://www.gnu.org/licenses/gpl.html</licenseUrl>

    <changelog>
        <![CDATA[
        <p>Changes in Version 1.5.1
        [CBOX-79] Insufficient help<br/>
        [CBOX-78] Not possible to use gpt after CHRIS-Box installation<br/>
        ]]>
    </changelog>

    <dependency>
        <module>beam-gpf</module>
    </dependency>
    <dependency>
        <module>beam-visat</module>
        <optional>true</optional>
    </dependency>
    <dependency>
        <module>beam-chris-reader</module>
    </dependency>
    <dependency>
        <module>chris-util</module>
    </dependency>

    <categories>Application,Processor,CHRIS</categories>

    <extension point="beam-visat:actions">
        <action>
            <id>chris</id>
            <class>org.esa.beam.visat.actions.ActionGroup</class>
            <text>CHRIS/Proba Tools</text>
            <mnemonic/>
        </action>
        <action>
            <id>chrisGeometricCorrection</id>
            <class>org.esa.beam.chris.ui.PerformGeometricCorrectionAction</class>
            <text>Geometric Correction...</text>
            <shortDescr>Perfoms the geometric correction for the selected CHRIS/Proba product</shortDescr>
            <mnemonic/>
            <parent>chris</parent>
            <helpId>chrisGeometricCorrectionTool</helpId>
            <placeAfter>chrisAtmosphericCorrection</placeAfter>
        </action>
    </extension>

    <extension point="beam-ui:helpSets">
        <helpSet>
            <parent>beam-help</parent>
            <path>doc/help/geometriccorrection.hs</path>
        </helpSet>
    </extension>

</module>
